@{
    ViewData["Title"] = "About";

    //Aqui dentro entra o código C#
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>




<p>Use this area to provide additional information.</p>
<p>Professor @ViewData["Professor"]</p>
<p>Aluno @ViewData["Aluno"]</p>


